@model CoursesWorkshop.Models.Student

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PreferredName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PreferredName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AcademicStanding)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AcademicStanding)
        </dd>
    </dl>
    <hr />
    <h5>Student Schedule</h5>
    <ul>
        @foreach(CourseStudent enrolled in Model.Enrollment)
        {
            <li>
                @enrolled.Course.Name
                <a class="btn btn-danger btn-sm" href="/Student/RemoveEnrollment/@enrolled.Id"></a>
            </li>
        }
    </ul>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
